NEXT_PUBLIC_SHOPPEX_SHOP_SLUG=demo
NEXT_PUBLIC_SHOPPEX_USE_SAMPLE_DATA=true
NEXT_PUBLIC_SHOPPEX_API_URL=https://api.shoppex.io
NEXT_PUBLIC_SHOPPEX_CHECKOUT_URL=https://checkout.shoppex.io
NEXT_PUBLIC_CUSTOMER_PORTAL_URL=https://demo.myshoppex.io/dashboard
SHOPPEX_WEBHOOK_SECRET=
SHOPPEX_DISCORD_WEBHOOK_URL=
